@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.close-button, .icons-position__footer-icons, .client-link, .team-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-border {
  border-bottom: 1px solid #eeeeee;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .row {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: block;
    margin-left: 88px;
  }
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link--current {
  color: #2196f3;
  font-weight: 500;
  line-height: 1.17;
  position: relative;
}
.navigation__link--current::after {
  content: "";
  left: 0;
  bottom: -1px;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}
.navigation__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__link, .navigation__link--current {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 93px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item + .contacts__item {
    margin-left: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
    margin-top: 0px;
  }
}
.contacts .contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts .contacts__icon-envelope,
.contacts .contacts__icon-smartphone {
  fill: #757575;
  margin-right: 10px;
}
.contacts .contacts__icon-envelope {
  width: 16px;
  height: 12px;
}
.contacts .contacts__icon-smartphone {
  width: 10px;
  height: 16px;
}
.contacts .contacts__link svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts .contacts__link:hover svg,
.contacts .contacts__link:focus svg {
  fill: #2196f3;
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle__icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  margin-bottom: 32px;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu__link--active {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
.mobile-socials__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.17;
  }
}

.logo-marg {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__part {
  color: #000000;
}

.footer-logo-part {
  color: #ffffff;
}

.hero__overlay {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  max-height: 400px;
  max-width: 480px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-studio/m-hero-480-400@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/m-hero-480-400@1x.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-studio/m-hero-960-800@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/m-hero-960-800@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero__overlay {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-studio/t-hero-768-400@x1.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/t-hero-768-400@x1.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-studio/t-hero-1536-800@x2.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/t-hero-1536-800@x2.jpg);
  }
}
@media screen and (min-width: 481px) and (min-width: 769px) {
  .hero__overlay {
    max-width: 1200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-studio/d-hero-1600-600@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/d-hero-1600-600@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img-studio/d-hero-3200-1200@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-studio/d-hero-3200-1200@2x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-width: 769px) and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__overlay .hero__title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
}
@media screen and (min-width: 1200px) {
  .hero__overlay .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
.hero__overlay .hero__button {
  display: inline-block;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero__overlay .hero__button {
    min-width: 216px;
    padding: 10px 32px;
  }
}
.hero__overlay hero__button:hover,
.hero__overlay hero__button:focus {
  background-color: #188ce8;
}

.pref-section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .pref-section {
    padding-top: 94px;
  }
}

.section-title {
  color: #212121;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .pref-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .pref-container {
    width: 1200px;
  }
}
.pref-container__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .pref-container__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .pref-container__item {
    max-width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .pref-container__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.pref-container__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .pref-container__thumb {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .pref-container__thumb {
    padding: 25px 142px;
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .pref-container__thumb {
    padding: 25px 100px;
    width: 270px;
  }
}

.pref-container__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 787px) {
  .pref-container__title {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .act-section {
    display: none;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.act-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-gap {
  margin-bottom: 50px;
}

.no-gap {
  display: block;
}

.act-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.act-item:not(:last-child) {
  margin-right: 30px;
}

.activity-thumb {
  position: relative;
}

.activity-thumb::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.overlay-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 27px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  color: #ffffff;
}

.team-section {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.pics-descr {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pref-container__team-title, .pref-container__card-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .pref-container__team-title, .pref-container__card-text {
    font-size: 16px;
    line-height: 1.17;
  }
}
.pref-container__team-title {
  color: #212121;
  font-weight: 500;
}
.pref-container__card-shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.pref-container__card-text {
  margin-top: 10px;
}

.team-icons {
  gap: 10px;
  margin-top: 16px;
}
.team-icons__social-link {
  display: block;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border: none;
  border-radius: 50%;
  padding: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons__social-link:hover, .team-icons__social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/* Clients Section */
.clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-link {
  fill: #afb1b8;
  padding: 16px 32px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client-link {
    width: 226px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.client-link:hover,
.client-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer-color {
  background-color: #2f303a;
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-color {
    padding: 60px 0 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    margin-left: 0;
    margin-bottom: 0;
    text-align: start;
  }
}

.address-list {
  min-width: 231px;
}
.address-list__address-marg {
  display: block;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address-list__address-marg {
    margin-bottom: 9px;
  }
}
.address-list__footer-address {
  color: #ffffff;
  font-style: normal;
}
.address-list__footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  font-style: normal;
}

.subsection-title {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
}

.icons-position {
  margin-bottom: 60px;
  margin-top: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .icons-position {
    margin-left: 67px;
    margin-bottom: 0;
    display: block;
  }
}
.icons-position__footer-text {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: left;
}
.icons-position__footer-icons {
  gap: 10px;
  margin-top: 16px;
}
.icons-position__footer-link {
  display: block;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  padding: 12px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-position__footer-link:hover, .icons-position__footer-link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .tablet-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-flex {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box {
    margin-left: 93px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-box__footform-text {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-box__footform-text {
    display: block;
    text-align: left;
  }
}

.footer-box__footform-input {
  display: block;
  width: 100%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .footer-box__footform-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box__footform-input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-box__footform-input:hover,
.footer-box__footform-input:focus {
  background-color: #2f303a;
  color: #2196f3;
  border-color: #2196f3;
  outline: #2196f3;
}

.footer-box__footform-input:placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-box__sent-btn {
  position: relative;
  display: inline-block;
}

.footer-box__btn-footform {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 15px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-box__btn-footform {
    padding-left: 28px;
    padding-right: 62px;
    margin-left: 12px;
  }
}

.footer-box__sent-icon {
  fill: #ffffff;
  position: absolute;
  top: 12px;
  right: 28px;
}

.footer-box__btn-footform:hover,
.footer-box__btn-footform:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 480px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  width: calc(100% - 30px);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}
@media screen and (min-width: 480px) and (min-height: 610px) {
  .modal {
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.close-button {
  position: absolute;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 30px;
  width: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: #2196f3;
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  margin-left: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wrap {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
}

.form-field input {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
}

.svg-item {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover input,
.form-field:hover textarea,
.form-field:focus-within input,
.form-field:focus-within textarea {
  border-color: #2196f3;
  outline: #2196f3;
}

.form-field:hover .svg-item,
.form-field:focus-within .svg-item {
  fill: #2196f3;
  cursor: pointer;
}

.textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  /* line-height: 1.17px; */
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* Кастомный чекбокс */
.check-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 479px) {
  .check-field {
    margin-bottom: 0;
  }
}

.checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-height: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  display: block;
}

.icon {
  display: block;
  width: 16px;
  height: 15px;
}

.checkbox + .icon {
  width: 16px;
  height: 15px;
  background-image: url("../images/img-studio/check-border.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
  margin-right: 7px;
}

.checkbox:checked + .icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/img-studio/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  background-position: 50% 50%;
}

.checkbox-text {
  display: block;
}

.agreement {
  color: rgb(33, 150, 243);
  margin-left: 6px;
  display: block;
  text-align: center;
}
@media screen and (max-width: 479px) {
  .agreement {
    display: none;
  }
}

.agreement-mobile {
  color: rgb(33, 150, 243);
  margin: 8px auto 20px auto;
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 480px) {
  .agreement-mobile {
    display: none;
  }
}

.btn-submit {
  display: inline-block;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .btns-container {
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .btns-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .btns-container {
    margin-bottom: 50px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.btns-container__portf-btn {
  display: inline-block;
  background: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .btns-container__btn-gap:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.btns-container__portf-btn:hover,
.btns-container__portf-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btns-container__btn-gap:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .btns-container__btn-gap:nth-child(3) {
    margin-right: 0px;
  }
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  padding: 0;
  margin: -15px;
}

.card-item {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-item {
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
  }
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portf-overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portf-overlay,
.portfolio-link:focus .portf-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  bottom: 0;
}

.item-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.descript {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */