    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196f3;
    $secondary-white-color: rgb(255, 255, 255, 0.6);
    $light-grey-background: #f5f4fa;
    $dark-grey-background: #2f303a;
    $primary-white-color: #ffffff;
    $hero-button-background: #2f303a;
    $card-border: #eeeeee;
    $transition-duration: 250ms;
    $function: cubic-bezier(0.4, 0, 0.2, 1); 
    $main-font-family: "Roboto", sans-serif;
    $logo-font-family:"Raleway", sans-serif;


